.d-flex {
  display: flex;
}

.gap--4 {
  gap: 4px;
}

.align-item--center {
  align-items: center;
}

.row {
  display: flex;
  .column {
    flex: 1;
  }
}

.font-weight--600 {
  font-weight: 600;
}
